<div class="container">
  <div class="panels">
    <div class="leftPanel" *ngIf="flag">
      <app-left></app-left>
    </div>

    <div class="rightPanel">
      <app-right> </app-right>
    </div>
  </div>

  <div class="inputs">
    <input type="button" class="btn" value="Hidden Left" (click)="this.flag = !this.flag">
    <input type="text" [(ngModel)]="person.firstName">
    <input type="text" [(ngModel)]="person.lastName">
    <input type="button" class="btn" value="Add Person" (click)="add()">
  </div>
</div>
