<div class="container">
  <div class="panels">
    <div class="leftPanel" ngClass="{{warunek ? 'hidden' : ''}}">
      <app-left></app-left>
    </div>

    <div class="rightPanel">
      <app-right> </app-right>
    </div>
  </div>

  <div class="inputs">
    <input type="button" class="btn" value="Hidden Left" (click)="hiddenLeft()">
    <input type="text" [(ngModel)]="name">
    <input type="text" [(ngModel)]="surname">
    <input type="button" class="btn" value="Add Person" (click)="addPerson1(name, surname)">
  </div>
</div>
